.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.navbar {
    padding: 6px;
}

.navbar a {
    color: white;
    padding-left: 13px;
    font-family: "SFMono-Regular","Menlo","Monaco","Consolas","Liberation Mono","Courier New",monospace;
}

.navbar-brand {
    font-size: 30px;
}

.dropdown-menu a {
    color: black;
}

.main h1 {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 5px;
}

.main h2, h3 {
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.main p {
    font-size: 18px;
}

.home {
    text-align: center;
}

.home h1 {
    padding-top: 70px;
    padding-bottom: 20px;
}

.smiley {
    background: rgba(0,0,0,.2);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 100px;
    padding-bottom: 4px;
}

li {
    font-size: 18px;
}

.alert {
    text-align: center;
    margin-bottom: 0;
}

.col-3 {
    padding-left: 30px;
}
.col-3 a {
    font-size: 20px;
    color: rgb(126, 126, 126);
}

code {
    background-color: #f9f2f4;
}

.footer {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 10px;
    color: rgb(126, 126, 126);
}